*,
*::after,
*::before{
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;}

body{
background-color: #ccc;
font-family: sans-serif;
font-size: 18px;
}

.wrapper{
max-width: 650px;
margin: 60px auto;
background-color: #fff;
color: rgb(150, 150, 150);
/* overflow: hidden; */
}

.wrapper p{
margin: 25px;
}

.header{
max-width: 100%;
height: 75px;
background-image: url(../img/redHeader.png);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}

.button{
 position: absolute;
 left: 50%;
 /* top: 50%; */
 transform: translateX(-50%);
 top: -14px;
 z-index: 6;
}


.new{
position: absolute;
bottom: 0; 
right: 0;
transform: rotate(180deg);
}

.item2{
position: relative;
top: 100px;
left: 150px;
}

.main p:nth-last-child(1){
padding-bottom: 25px;
}

.help{
position: fixed;
left: 0;
top: 50%;
transform: translateY(-50%);
}

.bird{
position: absolute;
top: -45px;
left: 40%;
z-index: 5;
}

